h1 {
    text-align: center;
}

.boards {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.board_name {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 500px;
    height: 500px;
}

.grid {
    background-color: rgb(164, 179, 226);
    border: rgb(168, 155, 155) solid 1px;
}

.missed {
    background-color: brown;
}

.ship {
    background-color: rgb(27, 36, 85);
    border: rgb(0, 0, 0) solid 1px;
}

.hit {
    background-color: dimgray !important;
    border: rgb(0, 0, 0) solid 1px;
}

.changeCursor {
    cursor: pointer;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sml {
    background-color: gold;
    border: gold solid 1px;
}

.mid {
    background-color: green;
    border: green solid 1px;
}

.lrg {
    background-color: lightcoral;
    border: lightcoral solid 1px;
}

.max {
    background-color: magenta;
    border: magenta solid 1px;
}